<footer class="bg-body-secondary">
    <div class="container-lg text-center text-white py-3">
        <div class="row row-cols-1 row-cols-lg-3 justify-content-center mx-3 z-3 mb-3">
            <div class="col mb-lg-0 mb-3">
                <div>
                    <a class="link-info text-decoration-none" href="impressum.html">Impressum</a>
                </div>
                <div>
                    <a class="link-info text-decoration-none" href="datenschutzerklaerung.html">Datenschutzerklärung</a>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Folge uns
                            <div class="container">
                                <div class="row row-cols-auto justify-content-center">
                                    <div class="col">
                                        <a href="https://www.instagram.com/feuerwehr_rth/" title="Instagram"
                                            rel="norefferer noopener" target="_blank">
                                            <i class="text-info bi-instagram"></i>
                                        </a>

                                    </div>
                                    <div class="col">
                                        <a href="https://www.facebook.com/feuerwehr.rennertehausen" title="Facebook"
                                            rel="norefferer noopener" target="_blank">
                                            <i class="text-info bi-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                Kontakt<br />
                <a class="text-info text-decoration-none"
                    href="mailto:vorstand@feuerwehr-rennertehausen.de">vorstand@feuerwehr-rennertehausen.de</a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <span class="text-white">2026 - Feuerwehr Rennertehausen</span>
            </div>
        </div>
        <div class="row pt-3">
            <img class="light-logo px-5"
                src="https://feuerwehr-rennertehausen.de/img/Vereinslogo_FFw_Rennertehausen.svg" alt="logo" height="48">
        </div>
    </div>
</footer>