<header class=" bg-body-secondary fixed-top">
        <nav class="navbar navbar-dark">
            <div class="container-lg justify-content-lg-start align-items-start">
                <a class="navbar-brand text-decoration-none" href="#">
                    <img class="light-logo"
                        src="img/Vereinslogo_FFw_Rennertehausen.svg" alt="logo"
                        height="36">
                    Feuerwehr Rennertehausen</a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas-lg offcanvas-start bg-body-secondary text-white mb-lg-0" tabindex="-1"
                    id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header d-lg-none">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Feuerwehr Rennertehausen</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body flex-lg-fill">
                        <!-- Menu -->
                        <ul class="navbar-nav flex-lg-row justify-content-end flex-grow-1 pe-3 row-gap-lg-2">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="aktuelles/index.html">Aktuelles</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Verein
                                </a>
                                <ul class="dropdown-menu border-0">
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link" href="verein/vorstand.html">Vorstand</a>
                                    </li>
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link"
                                            href="#">Geschichtliches</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Jugendfeuerwehr</a>
                                <ul class="dropdown-menu border-0">
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link">Über</a></li>
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link">Übungsplan</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Einsatzabteilung</a>
                                <ul class="dropdown-menu border-0">
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link">Übungen</a></li>
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link">Übungsplan</a></li>
                                    <li class="nav-item"><a class="dropdown-item pt-0 nav-link">Einsätze</a></li>
                                    <li class="nav-item"><a href="/Einsatzabteilung/fahrzeuge.html" class="dropdown-item pt-0 nav-link">Fahrzeuge</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="d-lg-none pb-3">
                        <img class="img-fluid light-logo px-5"
                            src="https://feuerwehr-rennertehausen.de/img/Vereinslogo_FFw_Rennertehausen.svg" alt="logo"
                            height="48">
                    </div> -->
                </div>
            </div>
        </nav>
    </header>